<div class="login-container">
  <div class="login-box">


    <h2 class="text-center mb-4">Login</h2>
    <app-alert></app-alert>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="login" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="username" formControlName="username"
          [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">

        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
        <div class="invalid-feedback">

          @if (loginForm.get('username')?.errors?.['required']) {
          <div>Usuário é obrigatório.</div>
          }

        </div>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" formControlName="password"
          [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

        @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
        <div class="invalid-feedback">
          @if(loginForm.get('password')?.errors?.['required']){
          <div>Senha é obrigatória.</div>
          }
          @if(loginForm.get('password')?.errors?.['minLength']){
          <div>A senha deve ter no mínimo 6 caracteres.</div>
          }
        </div>
        }
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="loginForm.invalid || isLoading">
          @if (isLoading) {
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Entrando...
          } @else {
          Acessar Sistema
          }
        </button>
      </div>

    </form>
  </div>
</div>